body {
    background-color: #121212;
    color: #fff;
    font-family: 'Press Start 2P', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 50px; /* Zwiększenie odstępu od góry */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Dodany cień do tekstów */
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Odstęp poniżej tytułu */
    width: 100%; /* Zapewnienie, że kontener zajmuje całą szerokość */
}

.title-image {
    max-width: 30%; /* Zmniejszenie szerokości obrazka */
    height: auto;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Dodany margines poniżej timera */
    color: #fff;
}

.timer {
    font-size: 2em; /* Zwiększenie rozmiaru czcionki timera */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Dodany cień do timera */
}

.tournament-bracket {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
}

.round {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 20px; /* Dodany margines boczny */
}

.matchup {
    margin: 20px 0; /* Zwiększony margines pionowy */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team {
    position: relative; /* Dodane pozycjonowanie względem team */
    background-color: #1e1e1e;
    color: #fff;
    padding: 10px 20px;
    margin: 5px 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    width: 150px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Dodany cień do nazw drużyn */
}

.team:hover {
    background-color: #333;
}

.team[data-pb]:hover::after {
    content: attr(data-pb);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    margin-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 0.8em;
    z-index: 10; /* Dodany z-index */
}

.team.loser {
    color: #777;
    text-decoration: line-through;
}

.round-label {
    color: #555;
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Dodany cień do etykiet rund */
}

.finals .final {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final-team {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    margin: 5px 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Dodany cień do nazw finałowych drużyn */
}

.third-place {
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    margin: 5px 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Dodany cień do nazw drużyn trzeciego miejsca */
}

.live-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.live-button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.live-button:hover {
    background-color: #cc0000;
}

.information-container {
    background-color: #1e1e1e;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 600px;
}

.information-container h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Dodany cień do nagłówka informacji */
}

.information-container p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Dodany cień do treści informacji */
}

@media screen and (min-width: 768px) {
    .tournament-bracket {
        align-items: center;
        justify-content: center;
    }

    .round {
        align-items: center;
        margin: 0 40px; /* Zwiększony margines boczny dla większych ekranów */
    }

    .round-label {
        margin-top: 20px;
    }
}
